@font-face{
	font-family: LexendDeca;
	src: url(https://fonts.gstatic.com/s/lexenddeca/v15/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnD.woff2) format('woff2');
}

html, body {
	background-color:rgb(24, 26, 27) !important;
	color:rgb(244, 244, 255) !important;
	font-family:LexendDeca;
}

.right-icons {
	position: absolute;
	padding: 0;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

#rule {
	position: relative;
}

hr {
	border: 0px;
	background-color: rgba(244, 244, 255, 0.5) !important;
	height: 1px;
}

h1{
	font-size:40px;
	text-align:center;

	margin-top: 16px;
	margin-bottom: 0px;
	margin-right: 16px;
	margin-left: 16px;
}

p{
	font-size:20px;
	text-align:center;
	
	/* margin-bottom: 16px; */
	margin-right: 16px;
	margin-left: 16px;
}

rect:hover{
	filter: invert(40%);
}

rect:active{
	filter: invert(60%);
}

.roundedCorner {
	border-radius: 25px;
	background: #28292a;
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 10px;
	padding-right: 10px;
	color:rgb(244, 244, 255) !important;
	text-align:center;
	vertical-align: middle;
}

#guesses, #buttons, #piano {
	display: flex;
	justify-content: center;
}

.gridCol {
	width: 360px;
	height: 360px;

	display: grid;
	grid-template-columns: 62px 62px 62px 62px;
	grid-template-rows:    62px 62px 62px 62px 62px;

	grid-row-gap: 10px;
	grid-column-gap: 10px;
	color: #444;

	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;

	justify-content: center;
}

#buttons > button {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;

	width: 150px;

	display: flex;
	justify-content: space-evenly;

	box-shadow: inset 0px 1px 3px 0px #4b4b4b;
	background: linear-gradient(to bottom, #444 5%, #2c2c2c 100%);
	background-color: #444;
	border-radius: 16px;
	border: 1px solid #2c2c2c;
	cursor: pointer;
	color: rgb(244, 244, 255);
	font-family: LexendDeca;
	font-size: 15px;
	font-weight: normal;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2c2c2c;

}

#buttons > button:hover {
	background: linear-gradient(to bottom, #6c727c 5%, #6b6c7c 100%);
	background-color: #6c7c7c;

}

#buttons > button:active {
	position:relative;
		top:1px;
}

#solution {
	width: 100%;
}

#solution-text {
	margin: 16px;
	text-align: center;
}

/* Popup container - can be anything you want */
.popup {
	text-align: center;
	position: absolute;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 320px;
	background-color: #444;
	color: rgb(244, 244, 255);
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	margin-left: -160px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

.hidden{
	visibility: hidden;
}